.navigationBar {
  background-color: #5FC8EA;
}

.leftSideButtons {
  float: left;
}

.rightSideButtons {
  float: right;
}

li {
  float: left;
  padding: 10px;
  color: #000000;
  font-size: 20px;
}

li:hover {
  color: #ffffff; 
}