li {
  float: left;
}

a {
  padding: 10px;
  color: #A9A9A9;
  font-size: 20px;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD"
}

a:hover {
  color: #ffffff; 
  text-decoration: none;
}

.backgroundImage {
  background-size: cover;
  max-width: 100%;
  max-height: 100%;
  opacity: .90;
}

.navigationBar {
  padding-top: 10px;
  background-color: #000000;
  padding-bottom: 10px;
  border-bottom: 1px solid #A9A9A9;
  top: 0;
  position: absolute;
  width: 100%;
}

.leftSideButtons {
  float: left;
}

.rightSideButtons {
  float: right;
}

.slogan {
  position: absolute;
  margin-top: 20%;
  color: #ffffff;
  top: 0;
  margin-left: 18%;
  font-size: 40px;
  font-style: bold;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.loginForm {
  position: absolute;
  top: 0;
  margin-top: 40%;
  margin-left: 35%;
}