
.homeButton {
  font-size: 20px;
  color: #000000;
}

.navigationBar {
  background-color: #5FC8EA;
}

.storeNavButton {
  font-size: 20px;
  color: #000000;
}

.editNavButton {
  font-size: 20px;
  color: #000000;
}

.shareNavButton {
  font-size: 20px;
  color: #000000;
}

.loginNavButton {
  font-size: 20px;
  color: #000000;
}

.signUpNavButton {
  font-size: 20px;
  color: #000000;
}
